%section.edit-form.edit-personal-info-form
  %header
    %h2.title Edit personal info
  .inner
    = form_for @user, :url => editor_profile_path, :html => { :class => :form } do |f|
      .group
        = f.label :name
        = f.text_field :name
      .group
        = f.label :job_title
        = f.text_field :job_title
      .group
        = f.label :avatar
        = f.file_field :avatar
      .group
        = f.label :about_info
        = f.text_area :about_info
      .group
        = f.label :linkedin_url
        = f.text_field :linkedin_url
      .group
        = f.label :project_info
        = f.text_area :project_info
      .group
        = f.label :github_url
        = f.text_field :github_url
      .group
        %button.button{:type => "submit"} Save
        = link_to "Cancel", root_path
