%aside.about
  - if current_user
    %nav.user-nav
      %ul
        %li= link_to "Account", edit_editor_account_path
        %li= link_to "Profile", edit_editor_profile_path
        %li= link_to "Posts", editor_posts_path
        %li= link_to "Logout", logout_path, :method => :delete

  .info-wrapper
    =image_tag @user.avatar.url(:thumb), class: 'avatar'
    %header.name
      %h2= @user.name
      .job-title= @user.job_title
      .font-icon.email-icon=mail_to @user.email, "", class: "icon-mail"

    .info
      .description= @user.about_info
      .bracket }
      .font-icon=link_to "linkedin", @user.linkedin_url, class: "icon-linkedin", target: "blank"

    .info
      .description= @user.project_info
      .bracket }
      .font-icon=link_to "github", @user.github_url, class: "icon-github", target: "blank"
